{
    "always_dl_internal": true,
    "maximum_seeders": -1,
    "allowed_medium": {
        "WEB-DL": true,
        "Blu-ray/HD DVD": true,
        "Encode": true,
        "Remux": true,
        "Capture": true
    },
    "allowed_resolution": {
        "720p": true,
        "1080i": true,
        "1080p": true
    },
    "allowed_source": {
        "Blu-ray": true,
        "HDTV": true,
        "BluRay": true,
        "WEB-DL": true,
        "Capture": true
    },
    "allowed_codec": {
        "H.264": true,
        "MPEG-2": true,
        "VC-1": true,
        "XviD": true
    },
    "allowed_category": {
        "Movies": true,
        "TV": true,
        "Documentary": true,
        "Misc/Demo": true,
        "Music": true,
        "Sport": true,
        "XXX": true
    }
}
